<!-- Cookies -->
<div class="cookies-informer">
  <div class="cookies-informer-inner">
    <div class="text text-s">
      Ми використовуєм cookies-файли для того,забезпечувати зручний перегляд нашого сайтую Щоб продовжити роботу з
      сайтом, вам необхідно прийняти умови
      <a href="/privacy-policy.php">Політики Cookies</a>
    </div>

    <div class="cookies-btn-wrap">
      <div class="btn-link close-cookies">
        <b>Ні, дякую</b>
      </div>

      <div class="btn btn_third set-cookie close-cookies">
        <b>Підписатись</b>
      </div>
    </div>
  </div>
  <div class="btn-close close-cookies"></div>
</div>
<script defer src="/js/app-cookies.js"></script>