<footer itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="url" content="https://AUTOMIX.ua/">
    <meta itemprop="telephone" content="+380631234189">
    <meta itemprop="name" content="AUTOMIX">
    <meta itemprop="logo" content="/img/logo-white.svg">
    <meta itemprop="description" content="AUTOMIX - все для авто і дому">

    <div class="container">
        <div class="footer__grid">
            <div class="footer__left">
                <a href="index.php" class="footer__logo" aria-label="Automix logo">
                    <img width="90" height="48" src="/img/logo-white.svg" alt="" loading="lazy">
                </a>
                <div class="footer-buttons">
                    <a class="btn btn_white btn_round js-scroll-top" href="#">
                        <svg width="14" height="14" class="small">
                            <use xlink:href="/img/icons/symbols.svg#arrow-up"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer-form">
                    <p>Маєте запитання? Ми Вам зателефонуємо!</p>
                    <form class="footer-form-inner">
                        <div class="input-field">
                            <div class="input-field__input-wrap">
                                <input class="input" type="number" inputmode="number" aria-label="phone">
                                <div class="input-placeholder">Введіть телефон</div>
                            </div>
                            <!-- <div class="input-error">Заповніть поле</div> -->
                        </div>
                        <button class="btn btn_primary">
                            <b>Надіслати</b>
                        </button>
                    </form>
                </div>
            </div>
            <nav class="footer__nav">
                <div class="title">Про компанію</div>
                <ul>
                    <li><a href="about.php">Про нас</a></li>
                    <li><a href="services.php">Послуги</a></li>
                    <li><a href="vacancies__page.php">Вакансії</a></li>
                    <li><a href="certificates.php">Сертифікати</a></li>
                    <li><a href="blog__page.php">Блог</a></li>
                    <li><a href="contact.php">Контакти</a></li>
                </ul>
            </nav>
            <nav class="footer__nav">
                <div class="title">Асортимент</div>
                <ul>
                    <li><a href="shop__catalog.php">Каталог товарів</a></li>
                    <li><a href="brand__page.php">Бренди</a></li>
                    <li><a href="action__page.php">Акції</a></li>
                    <li><a href="selections__page.php">Підбірки</a></li>
                </ul>
            </nav>
            <nav class="footer__nav">
                <div class="title">Допомога</div>
                <ul>
                    <li><a href="buyers.php">Покупцям</a></li>
                    <li><a href="faq.php">Питання-відповіді</a></li>
                    <li><a href="delivery.php">Доставка</a></li>
                    <li><a href="payment.php">Оплата</a></li>
                </ul>
            </nav>
            <div class="footer__contacts">
                <div class="footer__contact">
                    <p>
                        <svg width="20" height="20">
                            <use xlink:href="/img/icons/symbols.svg#pin"></use>
                        </svg>
                        Адреса
                    </p>
                    <div>Вінниця, Україна</div>
                </div>
                <div class="footer__contact">
                    <p>
                        <svg width="20" height="20">
                            <use xlink:href="/img/icons/symbols.svg#mail"></use>
                        </svg>
                        Наш Email
                    </p>
                    <a href="mailto:info@automix.ua" itemprop="email">info@automix.ua</a>
                </div>
                <div class="footer__contact">
                    <p>
                        <svg width="20" height="20">
                            <use xlink:href="/img/icons/symbols.svg#phone"></use>
                        </svg>
                        Телефони
                    </p>
                    <a href="tel:+380671151565" itemprop="telephone">+380 (67) 115-15-65</a>
                    <a href="tel:+380631234189" itemprop="telephone">+380 (63) 123-41-89</a>
                </div>
                <div class="footer__contact">
                    <p>
                        <svg width="20" height="20">
                            <use xlink:href="/img/icons/symbols.svg#time"></use>
                        </svg>
                        Графік роботи
                    </p>
                    <div>Пн - Пт 09:00 - 17:00</div>
                    <div>Сб 09:00 - 13:00</div>
                    <div>Нд Вихідний</div>
                </div>
            </div>

            <div class="footer__contact footer__social-block">
                <p>Ми в соціальних мережах</p>
                <div class="footer__socials">
                    <a href="https://www.facebook.com/" aria-label="facebook" target="_blank" class="icon-hoverable">
                        <img width="40" height="40" src="/img/icons/contact/facebook.svg" alt="" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/" aria-label="instagram" target="_blank" class="icon-hoverable">
                        <img width="40" height="40" src="/img/icons/contact/instagram.svg" alt="" loading="lazy">
                    </a>
                    <a href="https://www.telegram.org/" aria-label="telegram" target="_blank" class="icon-hoverable">
                        <img width="40" height="40" src="/img/icons/contact/telegram.svg" alt="" loading="lazy">
                    </a>
                    <a href="https://www.viber.com/" aria-label="viber" target="_blank" class="icon-hoverable">
                        <img width="40" height="40" src="/img/icons/contact/viber.svg" alt="" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-left">
                <div>© AutoMix 2024 | Всі права захищені</div>
                <a href="privacy.php"><b>Політика конфіденційності</b></a>
            </div>
            <div class="footer__payment">
                <div class="image">
                    <img width="64" height="38" src="/img/icons/mastercard.svg" alt="" loading="lazy">
                </div>
                <div class="image">
                    <img width="64" height="38" src="/img/icons/visa.svg" alt="" loading="lazy">
                </div>
            </div>
            <a class="dev-link" href="http://redstone.media/">
                <span>Створення сайтів</span>
                <img width="102" height="14" src="/img/redstone-logo.svg" alt="redstone logo" loading="lazy">
            </a>
        </div>
    </div>
</footer>