<header>
    <div class="header">
        <div class="header-informer" style="background-color: #014898;">
            <div class="container">
                <a href="action__detail.php">
                    <img width="20" height="20" src="/img/icons/lightning.svg" alt="" loading="lazy">
                    <span>
                        Знижки до - <b>70%</b>. Літній розпродаж з <b>20.06</b> по <b>30.08</b>
                    </span>
                    <img width="20" height="20" src="/img/icons/arrow-circle-right.svg" alt="" loading="lazy">
                    <div class="h-info-close btn-close"></div>
                </a>
            </div>
        </div>
        <div class="header__row header__row_top">
            <div class="container">
                <nav class="header__top-nav">
                    <ul class="js_cut_links">
                        <li>
                            <div class="dropdown dropdown-toggle">
                                <div class="dropdown__title">
                                    <span>Про компанію</span>
                                    <div class="dropdown__arrow">
                                        <svg width="12" height="13">
                                            <use xlink:href="/img/icons/symbols.svg#arrow-down"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="dropdown__content dropdown__content_left">
                                    <a class="header-link" href="about.php">Про нас</a>
                                    <a class="header-link" href="services.php">Послуги</a>
                                    <a class="header-link" href="vacancies__page.php">Вакансії</a>
                                    <a class="header-link" href="certificates.php">Сертифікати</a>
                                    <a class="header-link" href="blog__page.php">Блог</a>
                                    <a class="header-link" href="contact.php">Контакти</a>
                                </div>
                            </div>
                        </li>
                        <li><a class="header-link" href="brand__page.php">Бренди</a></li>
                        <li>
                            <div class="dropdown dropdown-toggle">
                                <div class="dropdown__title">
                                    <span>Покупцям</span>
                                    <div class="dropdown__arrow">
                                        <svg width="12" height="13">
                                            <use xlink:href="/img/icons/symbols.svg#arrow-down"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="dropdown__content dropdown__content_left">
                                    <a class="header-link" href="buyers.php">Покупцям</a>
                                    <a class="header-link" href="faq.php">Питання-відповіді</a>
                                    <a class="header-link" href="delivery.php">Доставка</a>
                                    <a class="header-link" href="payment.php">Оплата</a>
                                </div>
                            </div>
                        </li>
                        <li><a class="header-link" href="contact.php">Контакти</a></li>
                        <li><a class="header-link" href="selections__color.php">Підбір фарб</a></li>
                        <li>
                            <a class="header-link type-2" href="action__page.php">
                                <img src="/img/icons/label-icon-1.svg" alt="" loading="lazy">
                                Акції
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="header__top-right js_cut_contacts">
                    <!-- email sub -->
                    <button class="dropdown__title open-popup" data-rel="thanks-for-subscribing"
                        aria-label="Sign up for a discount">
                        <svg width="20" height="20">
                            <use xlink:href="/img/icons/symbols.svg#mail"></use>
                        </svg>
                        <span>Підписатись на знижку</span>
                    </button>

                    <!-- contact us -->
                    <div class="dropdown dropdown-toggle">
                        <div class="dropdown__title">
                            <svg width="20" height="20">
                                <use xlink:href="/img/icons/symbols.svg#phone"></use>
                            </svg>
                            <span>Зв’язатися з нами</span>
                            <div class="dropdown__arrow">
                                <svg width="12" height="13">
                                    <use xlink:href="/img/icons/symbols.svg#arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="dropdown__content">
                            <div class="cnt-item">
                                <div class="cnt-icon">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/symbols.svg#phone"></use>
                                    </svg>
                                </div>
                                <div class="cnt-info">
                                    <a href="tel:+380671151565">+380 (67) 115-15-65</a>
                                    <div>щодня: 9:00 - 21:00</div>
                                    <div>Оформити замовлення</div>
                                </div>
                            </div>
                            <div class="cnt-item">
                                <div class="cnt-icon">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/symbols.svg#question"></use>
                                    </svg>
                                </div>
                                <div class="cnt-info">
                                    <a href="tel:+380631234189">+380 (63) 123-41-89</a>
                                    <div>щодня: 9:00 - 20:00</div>
                                    <div>Служба підтримки</div>
                                </div>
                            </div>
                            <div class="cnt-item">
                                <div class="cnt-icon">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/symbols.svg#mail"></use>
                                    </svg>
                                </div>
                                <div class="cnt-info">
                                    <a href="mailto:info@automix.ua">info@automix.ua</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- lang -->
                    <div class="dropdown js_cut_lang">
                        <div class="dropdown__title lang-item">
                            <div class="image">
                                <img width="24" height="24" src="/img/icons/flag_ua.svg" alt="language-flag" loading="lazy">
                            </div>
                            <span id="current-lang">Укр</span>
                            <div class="dropdown__arrow">
                                <svg width="12" height="13">
                                    <use xlink:href="/img/icons/symbols.svg#arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="dropdown__content dropdown__content_left">
                            <a href="#" class="lang-item" data-lang="uk">
                                <div class="image">
                                    <img width="24" height="24" src="/img/icons/flag_ua.svg" alt="uk-flag" loading="lazy">
                                </div>
                                <span>Укр</span>
                            </a>
                            <a href="#" class="lang-item" data-lang="en">
                                <div class="image">
                                    <img width="24" height="24" src="/img/icons/flag_eng.svg" alt="en-flag" loading="lazy">
                                </div>
                                <span>Eng</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__row header__row_bottom">
            <div class="container">
                <a class="header__logo image" href="index.php" aria-label="Automix logo">
                    <img width="90" height="48" src="/img/logo.svg" alt="" loading="lazy">
                </a>

                <button class="catalogue-btn open-catalogue btn btn_secondary" aria-label="Catalog of goods">
                    <svg width="22" height="22">
                        <use xlink:href="/img/icons/symbols.svg#catalog"></use>
                    </svg>
                    <b>Каталог товарів</b>
                    <svg class="small" width="16" height="16">
                        <use xlink:href="/img/icons/symbols.svg#arrow-down"></use>
                    </svg>
                </button>

                <form class="search" autocomplete="off">
                    <input type="text" name="search" placeholder="Я шукаю...">
                    <div class="btn-close search__clear"></div>
                    <div class="search__icon">
                        <svg width="24" height="24">
                            <use xlink:href="/img/icons/symbols.svg#search" fill="none"></use>
                        </svg>
                    </div>
                    <div class="search-dropdown">
                        <div class="search-dropdown__block">
                            <a class="search-dropdown__product" href="shop__product-detail.php">
                                <div class="image">
                                    <img width="40" height="40" src="/img/content/product/prd-img-2.webp" alt="">
                                </div>
                                <b>
                                    Фарбопульт Auarita Nova 1 HVLP 1.8
                                </b>
                                <div class="product-card__prices">
                                    <div class="product-card__price">
                                        10 499 грн
                                    </div>
                                </div>
                            </a>
                            <a class="search-dropdown__product" href="shop__product-detail.php">
                                <div class="image">
                                    <img width="40" height="40" src="/img/content/product/prd-img-6.webp" alt="">
                                </div>
                                <b>
                                    Поліроль Maxolen 6000 PM01 Power Cut Plus 1 л (Крупнозерниста)
                                </b>
                                <div class="product-card__prices">
                                    <div class="product-card__old-price">
                                        11 500 грн
                                    </div>
                                    <div class="product-card__price">
                                        10 099 грн
                                    </div>
                                </div>
                            </a>
                            <a class="search-dropdown__product" href="shop__product-detail.php">
                                <div class="image">
                                    <img width="40" height="40" src="/img/content/product/prd-img-7.webp" alt="">
                                </div>
                                <b>
                                    Фарбопульт Auarita Nova 1 HVLP 1.4
                                </b>
                                <div class="product-card__prices">
                                    <div class="product-card__price">
                                        10 000 грн
                                    </div>
                                </div>
                            </a>
                            <a class="search-dropdown__product" href="shop__product-detail.php">
                                <div class="image">
                                    <img width="40" height="40" src="/img/content/product/prd-img-5.webp" alt="">
                                </div>
                                <b>
                                    Епоксидний 2К клей OneBond Power Metal 60 190 мл (зміцнений структурний)
                                </b>
                                <div class="product-card__prices">
                                    <div class="product-card__price">
                                        3 000 грн
                                    </div>
                                </div>
                            </a>
                            <a class="search-dropdown__product" href="shop__product-detail.php">
                                <div class="image">
                                    <img width="40" height="40" src="/img/content/product/prd-img-9.webp" alt="">
                                </div>
                                <b>
                                    Шліфувальний круг 3M Blue Net P280 Ø150 мм
                                </b>
                                <div class="product-card__prices">
                                    <div class="product-card__old-price">
                                        1 499 грн
                                    </div>
                                    <div class="product-card__price">
                                        899 грн
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="search-dropdown__block">
                            <a class="btn-link" href="shop__catalog.php">
                                <b>Переглянути всі товари (149)</b>
                                <svg>
                                    <use xlink:href="/img/icons/symbols.svg#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </form>

                <div class="header__buttons">
                    <div class="user-btn hide-on-mobile {{#unless user}}open-popup disabled{{/unless}}" {{#unless user}}data-rel="login"{{/unless}}>
                        <div class="user-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="/img/icons/symbols.svg#user" fill="none"></use>
                            </svg>
                        </div>

                        {{#if user}}
                            <div class="user-btn__menu">
                                <a class="user-menu" href="cabinet__data.php">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/icons_cabinet.svg#user" fill="none"></use>
                                    </svg>
                                    <span>Персональна інформація</span>
                                </a>
                                <a class="user-menu" href="cabinet__order.php">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/icons_cabinet.svg#list" fill="none"></use>
                                    </svg>
                                    <span>Мої замовлення</span>
                                </a>
                                <a class="user-menu" href="cabinet__fav.php">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/icons_cabinet.svg#fav" fill="none"></use>
                                    </svg>
                                    <span>Улюблені товари</span>
                                    <b>2</b>
                                </a>
                                <a class="user-menu" href="cabinet__history.php">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/icons_cabinet.svg#list-2" fill="none"></use>
                                    </svg>
                                    <span>Історія переглядів</span>
                                </a>
                                <a class="user-menu" href="cabinet__review.php">
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/icons_cabinet.svg#star" fill="none"></use>
                                    </svg>
                                    <span>Мої відгуки</span>
                                </a>
                                <hr>
                                {{!-- href="index.php" --}}
                                <a class="user-menu" id="header_logout_btn"> {{!-- href="index.php" --}}
                                    <svg width="20" height="20">
                                        <use xlink:href="/img/icons/icons_cabinet.svg#exit" fill="none"></use>
                                    </svg>
                                    <span>Вийти з кабінету</span>
                                </a>
                            </div>
                        {{/if}}


                    </div>

                    <div class="header__buttons-separator"></div>

                    <a class="user-btn hide-on-mobile" href="cabinet__fav.php">
                        <div class="user-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="/img/icons/symbols.svg#fav"></use>
                            </svg>
                            <b>2</b>
                        </div>

                        <!-- to show this empty remove class "d-none" -->
                        <div class="user-btn__menu center d-none">
                            <div class="user-btn__info">
                                <img width="66" height="66" src="/img/icons/empty-fav-icon.svg" alt="" loading="lazy">
                                <p class="title text-s fw-700">Список улюблених пустий</p>
                                <p class="text text-xs">Наповніть його товарами</p>
                            </div>
                        </div>
                    </a>

                    <div class="header__buttons-separator"></div>

                    <a class="user-btn hide-on-mobile" href="shop__comparison.php">
                        <div class="user-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="/img/icons/symbols.svg#comp"></use>
                            </svg>
                            <b>10</b>
                        </div>
                        <!-- to show this empty remove class "d-none" -->
                        <div class="user-btn__menu center d-none">
                            <div class="user-btn__info">
                                <img width="66" height="66" src="/img/icons/empty-comp-icon.svg" alt="" loading="lazy">
                                <p class="title text-s fw-700">Ваш список порівнянь пустий</p>
                                <p class="text text-xs">Наповніть його товарами</p>
                            </div>
                        </div>
                    </a>

                    <div class="header__buttons-separator"></div>

                    <button class="user-btn js_open_search d-xl-none" aria-label="Search">
                        <div class="user-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="/img/icons/symbols.svg#search" fill="none"></use>
                            </svg>
                        </div>
                    </button>

                    <button class="user-btn js_open_cart" aria-label="Cart">
                        <div class="user-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="/img/icons/symbols.svg#cart" fill="none"></use>
                            </svg>
                            <b class="js-cart-count">0</b>
                        </div>
                        <!-- to show this empty remove class "d-none" -->
                        <div class="user-btn__menu right d-none">
                            <div class="user-btn__info">
                                <img width="66" height="66" src="/img/icons/empty-cart-icon.svg" alt="" loading="lazy">
                                <p class="title text-s fw-700">Ваш кошик пустий</p>
                                <p class="text text-xs">Наповніть його товарами</p>
                            </div>
                        </div>
                    </button>

                    <button class="user-btn d-xl-none js_menu_btn" aria-label="Open menu">
                        <div class="user-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="/img/icons/symbols.svg#burger" fill="none"></use>
                            </svg>
                        </div>
                    </button>
                </div>

                <div class="cart-informer">
                    <div class="text">
                        <b class="clr-black">
                            Професійний фарборозпилювач AUARITA LVMP Nova 1
                        </b>
                        успішно додано до кошика
                    </div>
                    <a class="btn-link text-s" href="shop__checkout.php">
                        <span>Перейти до замовлення</span>
                        <svg class="small">
                            <use xlink:href="/img/icons/symbols.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="catalogue" data-url="inc/components/_catalog-inner.php">
            <?php include 'inc/components/_catalog-inner.php';?>
        </div>
    </div>

    <div class="h-menu">
        <div class="h-menu__top">
            <a href="index.php" class="h-menu__logo image">
                <img width="90" height="48" src="/img/logo.svg" alt="" loading="lazy">
            </a>
            <button class="btn-close" aria-label="Close menu"></button>
        </div>
        <div class="h-menu__main">
            <div class="h-menu__content">
                <div class="h-menu__content-horizontal">
                    <a class="h-menu__btn" href="cabinet__data.php">
                        <svg width="30" height="30">
                            <use xlink:href="/img/icons/icons_cabinet.svg#user" fill="none"></use>
                        </svg>
                        <span>Особистий кабінет</span>
                    </a>
                    <!-- lang is here -->
                </div>
                <div class="h-menu__buttons">
                    <button class="h-menu__btn fw-700 open-catalogue" aria-label="Catalog of goods">
                        <svg width="30" height="30">
                            <use xlink:href="/img/icons/icons_cabinet.svg#catalog"></use>
                        </svg>
                        <span>Каталог товарів</span>
                    </button>
                    <button class="h-menu__btn fw-700 js_open_cart" aria-label="Cart">
                        <svg width="30" height="30">
                            <use xlink:href="/img/icons/icons_cabinet.svg#cart"></use>
                        </svg>
                        <span>Кошик</span>
                        <b>3</b>
                    </button>
                    <a class="h-menu__btn" href="shop__comparison.php">
                        <svg width="20" height="20">
                            <use xlink:href="/img/icons/icons_cabinet.svg#comp"></use>
                        </svg>
                        <span>Список порівнянь</span>
                        <b>10</b>
                    </a>
                    <a href="cabinet__fav.php" class="h-menu__btn icon-hoverable-wrap">
                        <svg width="30" height="30">
                            <use xlink:href="/img/icons/icons_cabinet.svg#fav"></use>
                        </svg>
                        <span>Улюблені товари</span>
                        <b>2</b>
                    </a>
                </div>
                <!-- links is here -->
                <!-- contacts is here -->
                <div>
                    <div class="title">
                        Ми в соціальних мережах
                    </div>
                    <div class="h-menu__socials">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img width="40" height="40" src="/img/icons/contact/facebook.svg" alt="facebook"
                                loading="lazy">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img width="40" height="40" src="/img/icons/contact/instagram.svg" alt="instagram"
                                loading="lazy">
                        </a>
                        <a href="https://www.telegram.org/" target="_blank">
                            <img width="40" height="40" src="/img/icons/contact/telegram.svg" alt="telegram"
                                loading="lazy">
                        </a>
                        <a href="https://www.viber.com/" target="_blank">
                            <img width="40" height="40" src="/img/icons/contact/viber.svg" alt="viber" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-overlay"></div>
</header>