// DROPDOWN
.dropdown {
    z-index: 1;
    position: relative;
}

.dropdown__title {
    cursor: default;
    position: relative;
    color: var(--clr-title);
    gap: var(--sp-3xs);
    display: flex;
    align-items: center;
    transition: var(--transition-1);

    svg {
        width: 1.25em;
        height: 1.25em;
    }

    span {
        line-height: 1em;
    }
}

.dropdown__content {
    // pointer-events: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: auto;
    padding: var(--sp-sm);

    gap: var(--sp-2xs);
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;

    border-radius: var(--rd-1);
    background: var(--clr-white);
    box-shadow: var(--box-shadow);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(100% - 1px);
        width: 100%;
        height: calc(var(--sp-2xs) + 2px);
    }

    &_left {
        left: calc(var(--sp-sm) * -1);
        transform: unset;
    }

    &_right {
        left: 100%;
        transform: translate(-100%, 0);
    }
}

.dropdown__arrow:has(svg) {
    width: .875rem;
    margin-top: rem(1);
    margin-left: var(--sp-3xs);
    transition: transform var(--transition-1);

    svg {
        display: block;
        width: 0.875em;
    }
}

@include minMedia(xl) {
    .dropdown:hover {
        z-index: 2;

        .dropdown__title {
            color: var(--clr-primary);
        }

        .dropdown__arrow:has(svg) {
            transform: rotateX(180deg);
        }

        .dropdown__content {
            pointer-events: all;
            opacity: 1;
            visibility: visible;
            top: calc(100% + var(--sp-2xs));
            transition: var(--transition-1);
        }
    }

    .dropdown__title:hover {
        color: var(--clr-primary);
    }
}

@include maxMedia(xl) {
    .dropdown-toggle {
        width: 100%;

        .dropdown__content {
            display: none;
            position: relative;
            left: 0;
            top: 0;
            transform: translate(0%, 0%);
            width: 100%;
            opacity: 1;
            visibility: visible;
            border-radius: 0;
            box-shadow: none;
            transition: none;

            &::before {
                content: none;
            }
        }
    }

    .dropdown.is-active {
        z-index: 5;

        .dropdown__title {
            color: var(--clr-primary);
        }

        .dropdown__arrow:has(svg) {
            transform: rotateX(180deg);
        }

        &:not(.dropdown-toggle) {
            .dropdown__content {
                pointer-events: all;
                opacity: 1;
                visibility: visible;
                top: calc(100% + var(--sp-2xs));
                transition: var(--transition-1);
            }
        }
    }
}