/*--------------------*/
/* + HEADER           */
/*--------------------*/
:root {
  --h-info-height: 2.375rem;
  --h-top-height: 2.5rem;
  --h-bottom-height: 4.375rem;

  --h-height: calc(var(--h-info-height, 0rem) + var(--h-top-height) + var(--h-bottom-height));
  --h-height-on-scroll: calc(var(--h-info-height, 0rem) + var(--h-top-height));
  --h-logo-width: 5.625rem;
}

.header-overlay {
  cursor: pointer;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: var(--bg-overlay);
  backdrop-filter: blur(var(--blur));
  transition: all var(--transition-1), z-index 0s;
}

header {
  height: var(--h-height);
}

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--h-height);
  background: var(--clr-white);
  font-size: var(--text-s);
  transition: var(--transition-1), padding 0s;
}

// header informer
.header-informer {
  position: relative;
  width: 100%;
  height: var(--h-info-height);
  text-align: center;
  font-size: var(--text-s);
  line-height: 1em;
  color: var(--clr-white);
  display: grid;
  align-items: center;

  b {
    font-weight: 700;
    line-height: 1em;
  }

  span {
    line-height: 1em;
  }

  a>* {
    vertical-align: middle;
    line-height: inherit;
  }

  img {
    width: 1.25em;
    height: auto;
  }

  .btn-close {
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: var(--clr-white);
    display: none;
  }
}

// top
.hide-top-header .header {
  transform: translateY(calc(-1 * var(--h-height-on-scroll)));
}

.header__row>.container {
  gap: max(1rem, 2.8125vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__row_top {
  position: relative;
  z-index: 2;
  height: var(--h-top-height);
  display: flex;
  align-items: center;
  background-color: var(--clr-light-grey);
}

.header__row_bottom {
  height: var(--h-bottom-height);
  display: flex;
  align-items: center;
  background: var(--bg);
  box-shadow: var(--box-shadow);
}

.header__top-nav>ul,
.header__top-right {
  gap: var(--sp-md);
  display: flex;
  align-items: center;
  line-height: 1;
}

.header__top-right {
  line-height: 0;

  .dropdown__title>svg {
    color: var(--clr-primary);
  }
}

.cnt-item {
  gap: var(--sp-sm);
  display: flex;
  align-items: center;
  width: max-content;
}

.cnt-icon {
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  color: var(--clr-white);
  background-color: var(--clr-secondary);
  transition: background-color var(--transition-1);

  >* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.25rem;
    height: 1.25rem;
  }
}

.cnt-info {
  font-size: var(--text-xs);
  font-weight: 400;
  color: var(--clr-text);
  line-height: 1.11em;
  max-width: 22ch;

  a {
    font-size: var(--text-s);
    font-weight: 700;
    color: var(--clr-black);
  }

  >*+* {
    margin-top: 0.25rem;
  }
}

.header-link,
.lang-item {
  display: inline-flex;
  align-items: center;
  color: var(--clr-black);
  white-space: nowrap;

  &.active {
    color: var(--clr-primary);
  }
}

.header-link.type-2 {
  padding: rem(6) rem(10);
  color: var(--clr-white);
  border-radius: 40px;
  background-color: var(--clr-secondary);
  width: fit-content;
  gap: 0.25rem;
  display: flex;
  align-items: center;
}

.lang-item {
  .image {
    margin-right: var(--sp-2xs);
    width: 1.5rem;
    aspect-ratio: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

// Bottom
.header__logo {
  width: var(--h-logo-width);
  flex-shrink: 0;
}

.search {
  position: relative;
  padding: var(--sp-3xs) var(--sp-xs);
  height: 3.125rem;
  flex-grow: 1;

  gap: var(--sp-sm);
  display: flex;
  align-items: center;
  border-radius: .25rem;
  background: #FDFDFD;
  border: rem(1) solid var(--clr-border);

  input {
    line-height: var(--btn-height);
    color: var(--clr-black);
  }
}

.search__icon {
  cursor: pointer;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--clr-primary);

  >* {
    width: 100%;
  }
}

.search__clear {
  position: absolute !important;
  z-index: 10;
  top: 50%;
  right: var(--sp-xs);
  transform: translateY(-50%);
  width: 1.5rem !important;
  height: 1.5rem !important;
  flex-shrink: 0;
  opacity: 0;
  visibility: hidden;
  transition: color var(--transition-1) !important;
}

.search-dropdown {
  position: absolute;
  overflow: auto;
  z-index: 10;
  top: calc(100% + 0.25rem);
  left: 0;

  padding: 1.5rem;
  width: 100%;
  height: auto;
  max-height: calc(100vh - var(--h-height));

  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 var(--rd-1) var(--rd-1);
  background: var(--clr-white);
  box-shadow: var(--box-shadow);
  transition: var(--transition-1);
}

.search-focus {
  .search {
    border-color: var(--clr-black);
  }

  .search.value {
    .search__clear {
      opacity: 1;
      visibility: visible;
    }

    .search__icon {
      opacity: 0;
      visibility: hidden;
    }

    .search-dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search-dropdown__block {

  .btn-link {
    margin-top: var(--sp-sm);
  }
}

.search-dropdown__product {
  gap: var(--sp-xs);
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;

  font-size: var(--text-s);
  line-height: 1.21em;
  font-weight: 400;
  color: var(--clr-text);

  padding-block: var(--sp-sm);
  border-bottom: solid rem(1) var(--clr-border);

  >b {
    @include lines(2);
    transition: var(--transition-1);
  }

  .image {
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.header__buttons {
  gap: var(--sp-md);
  display: inline-flex;
  align-items: center;
}

.header__buttons-separator {
  flex-shrink: 0;
  display: inline-block;
  width: rem(1);
  height: 1.25rem;
  background-color: var(--clr-border);
}

.user-btn {
  cursor: pointer;
  flex-shrink: 0;
  gap: var(--sp-3xs);
  display: grid;
  justify-items: center;

  color: var(--clr-black);
  border-radius: 100%;
  padding: rem(6);
  transition: background-color var(--transition-1), color var(--transition-1);
}

.user-btn__icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  b {
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translate(-50%, -40%);

    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--clr-white);
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    background: var(--clr-primary);
    transition: var(--transition-1);
  }
}

.user-btn__menu {
  position: absolute;
  cursor: initial;

  top: 100%;
  padding: var(--sp-sm);
  justify-self: flex-start;
  transform: translateX(calc(-1 * var(--sp-sm)));
  gap: var(--sp-sm) 0px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;

  border-radius: var(--rd-1);
  background: var(--clr-white);
  border: solid rem(1) var(--clr-border);
  transition: var(--transition-1);

  &.center {
    justify-self: center;
    transform: none;
  }

  &.right {
    justify-self: end;
    transform: translateX(var(--sp-sm));
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: var(--sp-sm);
  }

  hr {
    height: rem(1);
    grid-column: span 3;
    background: var(--clr-border);
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  a {
    font-size: 1rem;
    color: var(--clr-title);
    gap: var(--sp-xs);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
    align-items: center;
  }

  b {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--clr-white);
    font-weight: 400;
    margin-left: var(--sp-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--clr-primary);
  }
}

.user-btn__info {
  text-align: center;
  width: rem(210);

  img {
    width: rem(80);
  }

  >*+* {
    margin-top: var(--sp-2xs);
  }
}

// .user-btn:hover .user-btn__menu {
//   opacity: 1;
//   visibility: visible;
// }

.user-btn {
  &:hover .user-btn__menu {
      opacity: 1;
      visibility: visible;
  }

  &.disabled {
      pointer-events: all;

      .user-btn__menu {
          display: none;
      }

      &:hover {
          cursor: pointer;
      }
  }
}

@include minMedia(xl) {

  .header-link:not(.type-2):hover,
  .lang-item:hover {
    color: var(--clr-primary);
  }

  .header-link.type-2:hover {
    background-color: var(--clr-primary);
  }

  .user-btn:hover {
    color: var(--clr-white);
    background-color: var(--clr-primary);

    .user-btn__icon b {
      background-color: var(--clr-secondary);
    }
  }

  .user-btn__menu a:hover {
    color: var(--clr-primary);
  }

  .search__icon:hover {
    color: var(--clr-black);
  }

  .search-dropdown__product:hover>b {
    color: var(--clr-primary);
  }

  .cnt-item:has(a:hover) {
    .cnt-icon {
      background-color: var(--clr-primary);
    }
  }

  .cnt-info a:hover {
    color: var(--clr-primary);
  }
}

@include maxMedia(xl) {
  :root {
    --h-info-height: 0rem;
    --h-top-height: 0rem;
    --h-bottom-height: 4.5rem;
  }

  .header__row_top {
    display: none;
  }

  .header__buttons {
    gap: var(--sp-2xs);
    margin-right: -0.375rem;
  }

  .user-btn__icon b {
    transform: translate(-100%, -45%);
    width: .5rem;
    height: .5rem;
    font-size: 0;
    line-height: 0;
    background: var(--clr-secondary);
  }

  .hide-on-mobile,
  .header-informer,
  .header__buttons-separator {
    display: none;
  }

  .dropdown__title.lang-item .image {
    margin-right: 0.25rem;
  }

  .search {
    position: absolute;
    z-index: 10;
    top: 0.75rem;
    left: 1rem;
    right: 1rem;
    height: calc(var(--h-height) - 1.5rem);
    transform: translateY(calc(-100% - 0.75rem));
    transition: transform var(--transition-1);
    box-shadow:
      1rem 0.75rem 0px 0px var(--clr-white),
      1rem -0.75rem 0px 0px var(--clr-white),
      -1rem 0.75rem 0px 0px var(--clr-white),
      -1rem -0.75rem 0px 0px var(--clr-white);
  }

  .search-show {
    .search {
      transform: translateY(0%);
    }
  }

  .search__icon {
    opacity: 0;
    visibility: hidden;
  }

  .search__clear {
    opacity: 1;
    visibility: visible;
  }

  .search-dropdown {
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding: 1rem;
    border-radius: 0;
  }

  .search-dropdown__product {
    gap: 0.5rem;

    .product-card__old-price {
      font-size: rem(10);
    }

    .product-card__price {
      font-size: rem(14);
    }
  }
}

/*--------------------*/
/* + Side Menu        */
/*--------------------*/
.h-menu {
  --h-menu-top-height: var(--h-bottom-height);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
  height: 100dvh;
  max-width: rem(340);
  width: 100%;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  background: var(--clr-white);
  transition: var(--transition-1);
}

.open-menu .h-menu {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.h-menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-menu-top-height);
  padding: var(--sp-2xs) 1rem;
  background: var(--bg);
  box-shadow: var(--box-shadow);

  .btn-close {
    --bw: 2rem;
    margin-right: -.375rem;

    &::before,
    &::after {
      width: 65%;
    }
  }
}

.h-menu__logo {
  width: var(--h-logo-width);
  flex-shrink: 0;
}

.h-menu__btn {
  gap: var(--sp-3xs);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr min-content;
  color: var(--clr-black);
  text-align: left;

  svg {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
  }

  b {
    width: 1.25rem;
    height: 1.25rem;
    font-size: rem(12);
    line-height: 1.21em;
    color: var(--clr-white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--clr-secondary);
  }
}

.h-menu__main {
  padding: var(--sp-md) 1rem 0;
  overflow: auto;
  height: calc(100dvh - var(--h-menu-top-height));
}

.h-menu__content {
  font-size: 0.875rem;
  height: 100%;
  gap: var(--sp-md);
  display: flex;
  flex-direction: column;

  >* {
    gap: var(--sp-xs);
    display: flex;
    flex-direction: column;

    &:last-child {
      padding-bottom: var(--sp-sm);
    }

    &:has(.h-menu__socials) {
      border: none;
      padding-top: 0;
      margin-top: auto;
    }
  }

  >*+* {
    padding-top: var(--sp-md);
    border-top: rem(1) solid var(--clr-border);
  }

  .h-menu__content-horizontal {
    line-height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__top-right {
    align-items: baseline;
    flex-direction: column-reverse;
  }

  .dropdown__arrow {
    margin-left: auto;
  }

  .dropdown-toggle .dropdown__content {
    padding-bottom: 0;

    >*+* {
      margin-top: var(--sp-2xs);
    }

    .header-link {
      display: block;
      width: max-content;
    }
  }
}

.h-menu__socials {
  gap: var(--sp-2xs);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a>* {
    width: rem(40);
  }
}

.catalogue-opened .header-overlay,
.search-focus .header-overlay {
  opacity: 1;
  visibility: visible;
}

.open-menu .header-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

@include maxMedia(md) {
  .h-menu {
    max-width: rem(278);
  }
}

/*--------------------*/
/* + Mega Menu        */
/*--------------------*/
.catalogue {
  font-size: var(--text-xs);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  max-height: calc(100dvh - var(--h-height));
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-1);

  &-btn-arrow {
    transition: transform var(--transition-1);
  }
}

.header .catalogue-btn {
  border: rem(1) solid var(--clr-secondary);
}

.catalogue-opened {

  .catalogue {
    opacity: 1;
    visibility: visible;

    &-btn {

      &:not(:hover) {
        color: var(--clr-primary) !important;
        background-color: transparent !important;
        border-color: var(--clr-primary) !important;
      }

      .small {
        transform: rotateX(180deg);
      }
    }
  }
}

.c-body {
  pointer-events: initial;
  background: var(--clr-white);
  color: var(--clr-black);
  gap: var(--sp-md);
  display: grid;
  grid-template-columns: min-content auto;

  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.c-left {
  width: 16.5625rem;
  padding: var(--sp-2xs);
  padding-top: calc(var(--sp-2xs) * 2);
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 var(--rd-1);
}

.c-item {
  cursor: pointer;
  gap: var(--sp-2xs);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  .icon-hoverable:first-child {
    width: 1.75rem;
  }

  svg:last-child {
    width: 0.875rem;
    height: 0.875rem;
    transform: rotate(-90deg);
  }
}

.c-item-load-more {
  cursor: pointer;
  margin-top: auto;
  color: var(--clr-text);
  padding: .25rem;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-1);

  svg {
    width: .75rem;
  }
}

.c-right {
  grid-template-columns: auto min-content;
  gap: var(--sp-md);
  display: none;
}

.c-lvl-items {
  columns: 3;
  padding: var(--sp-sm) 0;
  column-gap: var(--sp-md);
}

.c-lvl-item {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  gap: var(--sp-2xs);
  line-height: 1;
  width: 100%;
}

.c-link {
  display: flex;
  align-items: center;

  &_all {
    text-decoration: underline;
  }

  svg:last-child {
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(-90deg);
    margin-left: var(--sp-2xs);
  }
}

.c-lvl-title {
  font-weight: bold;
  color: var(--clr-primary);
  text-decoration: underline;
  text-decoration-color: transparent;
}

.c-lvl-2-image {
  position: relative;
  overflow: hidden;
  width: 18.75rem;
  aspect-ratio: 0.6;
  margin-block: var(--sp-2xs);
  margin-right: var(--sp-2xs);
  border-radius: var(--rd-1);

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.c-lvl-item-2:nth-child(n + 2) {
  margin-top: var(--sp-xs);
}

.c-top,
.c__a-2 svg,
.c-lvl-title_mob {
  display: none;
}

.c-lvl-item-3 {
  padding-left: var(--sp-xs);
  align-items: flex-start;
}

@include minMedia(lg) {
  .c-item.active {
    color: var(--clr-primary);
  }

  .c-right.active {
    display: grid;
  }
}

@include minMedia(xl) {
  .header .catalogue-btn:hover {
    border: rem(1) solid var(--clr-primary);
  }

  .c-body {
    border-radius: 0 0 var(--rd-1) var(--rd-1);
  }

  .c-item:hover {
    color: var(--clr-primary);
  }

  .c-item-load-more:hover {
    background-color: var(--clr-light-grey);
  }

  .c-link:hover {
    color: var(--clr-primary);
  }

  .c-link_all:hover {
    text-decoration: underline;
  }

  .c-lvl-title:hover {
    text-decoration-color: var(--clr-primary);
    text-decoration: underline;
  }
}

@include maxMedia(xl) {
  .catalogue-btn {
    display: none !important;
  }

  .c-lvl-2-image {
    width: 15.9375rem;
    display: none;
  }
}

@include maxMedia(lg) {
  .c-body .icon-hoverable img:nth-child(2) {
    display: none;
  }

  .catalogue {
    overflow: hidden;
    transition: all var(--transition-1), height none;
    font-size: 1rem;
  }

  .catalogue .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .c-lvl-items {
    columns: 1;
  }

  .c-lvl-item {
    gap: 0;
  }

  .c-body {
    display: block;
    padding: var(--sp-2xs) var(--bs-gutter-x);
    height: calc(100dvh - var(--h-height));
    overflow: auto;
    border-radius: 0;
  }

  .hide-top-header .c-body,
  .hide-top-header .catalogue {
    height: calc(100dvh - var(--h-height));
    max-height: calc(100dvh - var(--h-height));
  }

  .c-breadcrumbs {
    color: var(--clr-grey);
    font-size: 0.75rem;
    display: inline-flex;
    align-items: center;
    gap: var(--sp-3xs);

    svg {
      width: 1.25em;
      height: 1.25em;
    }
  }

  .c-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--sp-2xs);
    height: 2rem;
  }

  .c-top_lvl-1 {
    display: none;
  }

  .c-top_lvl-1 .c-lvl-title {
    font-size: 1.125rem;
    color: var(--clr-title);
  }

  .c-lvl-1 .c-top {
    display: none;
  }

  .c-lvl-1 .c-top_lvl-1 {
    display: flex;
  }

  .c-lvl-2 .c-top {
    display: flex;
  }

  .c-lvl-2 .c-top_lvl-1 {
    display: none;
  }

  .c-lvl-2 .c-lvl-title_mob {
    display: flex;
    margin-bottom: var(--sp-2xs);
  }

  .c-left {
    padding: 0;
    border: none;
    width: 100%;
    display: none;
  }

  .c-lvl-1 .c-left {
    display: flex;
  }

  .c-lvl-2 .c-right.active,
  .c-lvl-3 .c-right.active {
    display: block;
  }

  .c-lvl-2 .c-lvl-item-3 {
    display: none;
  }

  // .c-lvl-3 .c-lvl-2-image {
  //   display: none;
  // }

  .c-lvl-3 .c-lvl-item-2:not(.active) {
    display: none;
  }

  .c__a-2 {
    padding-block: .5rem;
    transition: none;
  }

  .c-lvl-3 .c__a-2 {
    font-weight: bold;
    font-size: 1.57em;
    color: var(--clr-primary);

    svg {
      display: none !important;
    }
  }

  .c-lvl-3 .c-lvl-item-2:nth-child(n + 2) {
    margin-top: 0;
  }

  .c-lvl-item-2:nth-child(n + 2) {
    margin-top: 0;
  }

  .c-lvl-2 .c-lvl-title:not(.c__a-2) {
    font-weight: bold;
    font-size: 1.57em;
    color: var(--clr-primary);
  }

  .c__a-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--clr-title);
    font-weight: 400;
  }

  .c__a-2:not(:only-child) svg {
    display: block;
    width: 0.875em;
    height: 0.875em;
    transform: rotate(-90deg);
  }

  .c-lvl-items {
    padding: 0;
  }

  .c-lvl-2-image {
    display: block;
    margin-top: var(--sp-md);
    width: min(100%, rem(414));
  }

  .c-link {
    padding-block: .5rem;
  }
}

@include maxMedia(md) {
  .catalogue {
    font-size: 0.875rem;
  }

  .c-body {
    padding: var(--sp-2xs) calc(var(--bs-gutter-x) / 2);
  }
}

header {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}