/*------------------*/
/* + Pagination     */
/*------------------*/
.pagination {
  --size: 2.5rem;
  --font-size: 1rem;
  --gap: 0;
  position: relative;
  display: block;
  text-align: center;

  ul {
    line-height: 0;
    gap: var(--gap);
    display: inline-flex;
    justify-content: center;
    padding: var(--sp-2xs);
    border-radius: var(--rd-2);
    border: rem(1) solid var(--clr-border);
  }

  li {
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    width: var(--size);
    height: var(--size);
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: var(--size);
    color: var(--clr-text);
    border-radius: var(--rd-3);
  }

  a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .dots {
    pointer-events: none;
  }

  .pag-arrow {
    color: var(--clr-black);

    a {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 4%;
        width: 18%;
        height: 18%;
        border-left: rem(1) solid currentColor;
        border-bottom: rem(1) solid currentColor;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &.next {
      transform: rotate(180deg);
    }
  }

  li.active {
    a {
      pointer-events: none;
      color: var(--clr-primary);
    }
  }
}

@include minMedia(xl) {
  .pagination li {
    a:hover {
      color: var(--clr-primary);
      background-color: var(--clr-light-grey);
    }
  }
}

@include maxMedia(sm) {
  .pagination {
    --size: 2.25rem;
    --font-size: 0.875rem;

    ul {
      padding: var(--sp-3xs);
    }
  }
}