/*---------------------------*/
/* + Tabs (not for styling)  */
/*---------------------------*/
._tabs-wrap {
  position: relative;
}

:where(._tab) {
  display: none;
}

._tab:first-child {
  display: block;
}